In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv('sensor-sl.csv')

In [14]:
df

,Unnamed: 0,Id,Time,Sens-1,Sens-2,Sens-3,Sens-4,Sens-5,Sens-6,Sens-7,Sens-8,Temp,Co2,Event,Non_Event,Null_Event
0,0,0.0,0.000021,12.8102,10.3665,10.4529,11.6742,13.4941,13.2749,8.30531,9.04553,26.4234,59.4725,True,False,False
1,1,0.0,0.000309,12.8097,10.3655,10.4523,11.6734,13.4934,13.2740,8.30527,9.04545,26.4241,59.4745,True,False,False
2,2,0.0,0.000587,12.8088,10.3645,10.4516,11.6731,13.4930,13.2730,8.30523,9.04538,26.4246,59.4763,True,False,False
3,3,0.0,0.000865,12.8080,10.3638,10.4508,11.6727,13.4922,13.2719,8.30520,9.04516,26.4251,59.4779,True,False,False
4,4,0.0,0.001144,12.8078,10.3628,10.4503,11.6722,13.4914,13.2708,8.30517,9.04511,26.4256,59.4793,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33381,33381,99.0,0.098726,12.6168,10.1389,10.3481,11.6547,12.1012,17.2166,6.18345,7.17176,27.7459,54.7779,False,False,True
33382,33382,99.0,0.099004,12.6169,10.1386,10.3484,11.6546,12.1015,17.2162,6.18357,7.17174,27.7453,54.7763,False,False,True
33383,33383,99.0,0.099282,12.6170,10.1386,10.3483,11.6544,12.1017,17.2158,6.18368,7.17171,27.7448,54.7748,False,False,True
33384,33384,99.0,0.099569,12.6171,10.1381,10.3484,11.6545,12.1019,17.2158,6.18388,7.17182,27.7443,54.7735,False,False,True
33385,33385,99.0,0.099847,12.6172,10.1381,10.3487,11.6554,12.1025,17.2171,6.18419,7.17191,27.7439,54.7723,False,False,True

In [15]:
for item in df['Time']:
    time = item
    hours = int(time)
    minutes = (time*60) % 60
    seconds = (time*3600) % 60
    new_time = ("%d:%02d.%02d" % (hours, minutes, seconds))
    df['Time'] = df['Time'].replace(new_time)

In [16]:
df

,Unnamed: 0,Id,Time,Sens-1,Sens-2,Sens-3,Sens-4,Sens-5,Sens-6,Sens-7,Sens-8,Temp,Co2,Event,Non_Event,Null_Event
0,0,0.0,0.000021,12.8102,10.3665,10.4529,11.6742,13.4941,13.2749,8.30531,9.04553,26.4234,59.4725,True,False,False
1,1,0.0,0.000309,12.8097,10.3655,10.4523,11.6734,13.4934,13.2740,8.30527,9.04545,26.4241,59.4745,True,False,False
2,2,0.0,0.000587,12.8088,10.3645,10.4516,11.6731,13.4930,13.2730,8.30523,9.04538,26.4246,59.4763,True,False,False
3,3,0.0,0.000865,12.8080,10.3638,10.4508,11.6727,13.4922,13.2719,8.30520,9.04516,26.4251,59.4779,True,False,False
4,4,0.0,0.001144,12.8078,10.3628,10.4503,11.6722,13.4914,13.2708,8.30517,9.04511,26.4256,59.4793,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33381,33381,99.0,0.098726,12.6168,10.1389,10.3481,11.6547,12.1012,17.2166,6.18345,7.17176,27.7459,54.7779,False,False,True
33382,33382,99.0,0.099004,12.6169,10.1386,10.3484,11.6546,12.1015,17.2162,6.18357,7.17174,27.7453,54.7763,False,False,True
33383,33383,99.0,0.099282,12.6170,10.1386,10.3483,11.6544,12.1017,17.2158,6.18368,7.17171,27.7448,54.7748,False,False,True
33384,33384,99.0,0.099569,12.6171,10.1381,10.3484,11.6545,12.1019,17.2158,6.18388,7.17182,27.7443,54.7735,False,False,True
33385,33385,99.0,0.099847,12.6172,10.1381,10.3487,11.6554,12.1025,17.2171,6.18419,7.17191,27.7439,54.7723,False,False,True